name: Build Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Maven
        run: cd coursera-spring-hello-world && mvn clean package -DskipTests
      - name: Build Docker image
        run: cd coursera-spring-hello-world && docker build -t spring-boot-app:latest -f Docker/Dockerfile .
